<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-logo-section">
                <img class="logo" th:src="@{/images/app_logo_white.svg}" alt="">
                <div class="footer-text">
                    <h3>Viana Circular</h3>
                    <p>Recolha de resíduos verdes</p>
                </div>
            </div>
            <div class="footer-credits">
                <p>2025 Viana Circular IPVC | Projeto desenvolvido por: André Costa, Miguel Cruz</p>
                <img class="smvc-logo" th:src="@{/images/smvc_logo.svg}" alt="">
            </div>
        </div>
    </footer>
</div>
</body>
</html>