<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <header class="header">
        <div class="header-container">
            <a class="logo-section" th:href="@{/}">
                <img alt="" class="logo" th:src="@{/images/app_logo_white.svg}">
                <h1>Viana Circular</h1>
            </a>
            <nav class="navigation">
                <a class="nav-link" th:href="@{/}">Página inicial</a>
                <a class="nav-link-mobile campaign" th:href="@{/campaign}"></a>
                <a class="nav-link-mobile profile" th:href="@{/profile}"></a>
                <a class="nav-link" th:href="@{/campaign}">A campanha</a>
                <a class="nav-link" th:href="@{/profile}">Perfil</a>
                <a class="nav-link" th:href="@{/login}">Iniciar Sessão</a>
            </nav>
        </div>
    </header>

    <script th:src="@{/js/header.js}"></script>
</div>
</html>
