/* Hero Banner */
.hero-banner {
    height: 400px;
    position: relative;
    overflow: hidden;
    margin-top: 152px;
}

.hero-image {
    width: 100%;
    height: 100%;
    background-image: url("../images/campaign-banner.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 40px;
}

.main-content {
    flex: 1;
    padding: 0;
}

.content-container {
    margin: 0;
    padding: 32px 32px;
}

/* Section Styles */
.campaign-section,
.green-waste-section {
    margin-bottom: 32px;
}

.section-title {
    color: #15803d;
    font-weight: 600;
    border-bottom: 2px solid #15803d;
    margin: 0 32px;
}

.content-block {
    margin-bottom: 1.5rem;
}

.content-block.second {
    width: 50%;
}

.content-paragraph {
    line-height: 1.7;
    color: #374151;
    text-align: justify;
    padding: 0 64px;
}

.content-paragraph:last-child {
    margin-bottom: 0;
}

/* Email Link */
.email-link {
    color: #15803d;
    text-decoration: none;
    font-weight: 500;
}

.email-link:hover {
    text-decoration: underline;
}

/* Waste Examples List */
.waste-examples-list {
    margin-left: 16px;
    margin-top: 16px;
}

.green-waste-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 64px;
}

.green-waste-wrapper .content-paragraph {
    padding: 0 32px 0 0;
}

.waste-examples-list li {
    font-size: 1rem;
    line-height: 1.7;
    color: #374151;
    margin-bottom: 8px;
    list-style-type: disc;
}

.waste-examples-list li:last-child {
    margin-bottom: 0;
}

.steps-list {
    margin-left: 16px;
    margin-top: 16px;
    padding: 0 96px;
}

.steps-list li {
    font-size: 1rem;
    line-height: 1.7;
    color: #374151;
    margin-bottom: 8px;
    list-style-type: disc;
}

.steps-list li:last-child {
    margin-bottom: 0;
}

.greenwaste-image {
    width: 50%;
    height: 400px;
    background-image: url(../images/banner-greenwaste.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 40px;
    min-width: 400px;
    margin-top: 18px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .content-container {
        padding: 32px 8px;
    }

    .section-title {
        margin: 0;
    }

    .content-paragraph {
        padding: 0;
    }

    .hero-section {
        height: 200px;
    }

    .green-waste-wrapper {
        padding: 0;
    }

    .green-waste-wrapper .content-paragraph {
        padding: 0;
    }

    .steps-list {
        padding: 0 0 0 40px;
    }
}


@media (max-width: 900px) {
    .content-block.second {
        width: 100%;
    }

    .greenwaste-image {
        width: 100%;
    }
}