.container {
    margin: 192px 0 32px 0;
    padding: 0 64px;
}

/* Profile Header */
.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    background: transparent;
}

.profile-title {
    font-weight: 600;
    color: #15803d;
    margin: 0;
    border-bottom: 2px solid #15803d;
}

.edit-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #ffffff;
    color: #004713;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.4s;
}

.edit-button:hover {
    background-color: #004713;
    color: #ffffff;
    cursor: pointer;
    scale: 1.02;
    box-shadow: 0 2px 2px 0 rgba(34, 34, 34, 0.25);
}

.logout-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #ffffff;
    color: #C03D3D;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.4s;
}

.logout-button:hover {
    background-color: #C03D3D;
    color: #ffffff;
    cursor: pointer;
    scale: 1.02;
    box-shadow: 0 2px 2px 0 rgba(34, 34, 34, 0.25);
}

/* Profile Form Section */
.profile-form-section {
    margin: 0 0 32px 0;
    background: #E2E2E2;
    border-radius: 45px;
    padding: 32px;
}

.profile-form {
    width: 100%;
}

.form-row {
    display: flex;
    width: 100%;
}

.form-column {
    width: 50%;
    padding: 0 10px;
}

.form-group {
    margin-bottom: 32px;
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 0;
}

/* Section Styles */
.section {
    margin-bottom: 32px;
    background: transparent;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
    background: transparent;
}

.section-title {
    font-weight: 600;
    color: #15803d;
    margin: 0;
    border-bottom: 2px solid #15803d;
}

.register-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #ffffff;
    color: #004713;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.4s;
}

.register-button:hover {
    background-color: #004713;
    color: #ffffff;
    cursor: pointer;
    scale: 1.02;
    box-shadow: 0 2px 2px 0 rgba(34, 34, 34, 0.25);
}

.section-content {
    background: transparent;
    min-height: 100px;
}

.section-content.records-section {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 16px;
}

#deposits {
    width: calc(50% - 8px);
}

#stats {
    width: calc(50% - 40px);
    background: #E2E2E2;
    padding: 16px;
    border-radius: 32px;
}

.empty-line {
    height: 1px;
    background-color: #d1d5db;
    width: 100%;
}

.item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 1px solid #d1d5db;
}

.item-row:last-child {
    border-bottom: none;
}

.item-row span {
    font-size: 14px;
    width: 100%;
    color: #333333;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        margin: 160px 0 32px 0;
        padding: 0;
    }

    .profile-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }

    .form-row {
        gap: 16px;
        flex-direction: column;
    }

    .form-group {
        margin-bottom: 16px;
    }

    .form-column {
        width: 100%;
        padding: 0px;
    }

    .section-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
    }
}

@media (max-width: 1100px) {
    #deposits, #stats {
        width: 100%;
    }
}