<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viana Circular | A campanha</title>
    <link rel="icon" th:href="@{/images/app_logo_white.svg}" type="image/png" />
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/campaign.css}">
</head>
<body>

<div th:insert="~{components/header :: header}"></div>

<section class="hero-banner">
    <div class="hero-image">
    </div>
</section>

<!-- Main Content -->
<main class="main-content">
    <div class="content-container">
        <!-- Campaign Section -->
        <section class="campaign-section">
            <h2 class="section-title">A campanha</h2>

            <div class="content-block">
                <p class="content-paragraph">
                    Os serviços municipalizados de Viana do Castelo com o projeto Viana Circular têm ao dispor de todos os munícipes um novo serviço de recolha de
                    resíduos verdes para entrega nos ecopontos especializados mais próximos da sua casa.
                </p>
            </div>

            <div class="content-block">
                <p class="content-paragraph">
                    Através da linha verde <strong>258 000 000</strong> ou enviando email para <a href="mailto:vianacircular@viana.pt" class="email-link">vianacircular@viana.pt</a>, qualquer cidadão pode solicitar o seu balde de serviço na qual
                    poderá depositar os seus resíduos verdes no ecoponto especializado mais próximo da sua casa.
                </p>
            </div>

            <div class="content-block">
                <p class="content-paragraph">
                    Através da plataforma Viana Circular poderá encontrar pontos de recolha dedicados para os seus resíduos verdes onde em cada depósito poderá
                    contribuir para o meio ambiente de forma moderna e intuitiva, ficando com o registo dos seus depósitos e podendo consultar os seus benefícios
                    arrecadados ao longo dos seus depósitos.
                </p>
            </div>
        </section>

        <!-- Green Waste Section -->
        <section class="green-waste-section">
            <h2 class="section-title">O que são resíduos verdes?</h2>
            <div  style="display: flex; justify-content: center; flex-wrap: wrap">
                <div class="content-block second">
                    <p class="content-paragraph">
                        Resíduos verdes são resíduos de origem vegetal provenientes de jardins, quintais, ou atividades de manutenção de espaços verdes. Esses resíduos
                        são biodegradáveis e, por isso, muitas vezes podem ser compostados ou transformados em fertilizante natural.
                    </p>

                    <p class="content-paragraph">
                        Alguns exemplos destes resíduos são:
                    </p>

                    <ul class="waste-examples-list">
                        <li>Aparas de relva;</li>
                        <li>Flores e plantas ornamentais;</li>
                        <li>Folhas de plantas, arvores e palmeiras;</li>
                        <li>Arbustos e ramos de árvores.</li>
                    </ul>
                </div>
                <div class="greenwaste-image"></div>
            </div>
        </section>

        <section class="campaign-section">
            <h2 class="section-title">Como me posso inscrever?</h2>

            <div class="content-block">
                <p class="content-paragraph">
                    Se tem interesse em contribuir para esta causa, poderá facilmente se inscrever na nossa plataforma e começar a contribuir para a gestão de resíduos verdes
                    no nosso município.
                    Para se inscrever na nossa plataforma terá de seguir os seguintes passos:
                    <ul class="waste-examples-list">
                        <li>Aceder à página de <a th:href="@{/register}" class="email-link">Registo</a> e introduzir todas as informações necessárias;</li>
                        <li>Após concluir o seu registo, necessitará de enviar um email para <a href="mailto:vianacircular@viana.pt" class="email-link">vianacircular@viana.pt</a> ou ligar <strong>258 000 000</strong> e solicitar o seu balde;</li>
                        <li>Após solicitar o seu balde, deverá recebê-lo em sua casa dentro de alguns dias úteis;</li>
                        <li>Ao receber o balde poderá começar a depositar resíduos verdes no contentor mais próximo;</li>
                    </ul>
                </p>
            </div>
        </section>
    </div>
</main>

<div th:insert="~{components/footer :: footer}"></div>

</body>
</html>